.filter_banner_div{
    display: flex;
    justify-content: space-evenly;
    width: 18%;
    position: relative;
    /* margin: 0 auto; */
    left: 82%;
    /* border: 1px solid black; */
    align-items: center;
}
.select_div{
    width: 40%;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    
}